_target_: peft.LoraConfig
_convert_: all
r: 16
lora_alpha: 16
target_modules:
  - q_proj
  - k_proj
  - v_proj
  - o_proj
  - gate_proj
  - up_proj
  - down_proj
  - out_proj
task_type: CAUSAL_LM
lora_dropout: 0.05
bias: none